<mat-card class="movie-list-container">
  <mat-card-content>
    <mat-form-field class="search-form-field">
      <mat-label class="search-label">Search movie by title, actors, director and plot</mat-label>
      <input matInput type="text" [(ngModel)]="searchString" (ngModelChange)="filterMovies('byString', searchString)" placeholder="Search movies...">
      @if (searchString) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="filterMovies('byString', '')">
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>
<div>
  <app-filter-accordion [header]="accordionHeader" [filterTiles]="genres" [category]="'byGenre'" (genreSelected)="updateFilter($event)"></app-filter-accordion>
  <app-filter-accordion [header]="accordionHeader2" [filterTiles]="languages" [category]="'byLanguage'" (genreSelected)="updateFilter($event)"></app-filter-accordion>
</div>
<div *ngIf="filteredMovies.length === 0" class="not-found">
  <h3>No movies found</h3>
  <button matSuffix mat-icon-button aria-label="Clear" (click)="reset()" class="reset-btn">
    Reset the search<mat-icon>close</mat-icon>
  </button>
</div>
<div class="movies-list">
<ul *ngIf="filteredMovies.length > 0">
  <li *ngFor="let movie of filteredMovies" class="movie-list-item">
    <div class="movie-box">
      <h3>{{ movie.Title }} ({{ movie.Year }})</h3>
      <p>Director: {{movie.Director}}</p>
      <p>Genres: <b>{{ movie.Genre }}</b></p>
      <p>Language: <b>{{ movie.Language }}</b></p>
      <p>Actors: {{ movie.Actors }}</p>
      <div class="plot">
        <i>{{movie.Plot}}</i>
      </div>
    </div>
  </li>
</ul>
</div>
</mat-card-content>
</mat-card>
